@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .custom-scroll-y::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scroll-y::-webkit-scrollbar-track {
    background-color: #cccccc;
    border-radius: 999px;
  }

  .custom-scroll-y::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 999px;
  }
}
